flash-attn>=2.4.0
bitsandbytes>=0.43.1
kernels>=0.9.0

# required for FSDP updates
accelerate>=0.34.2

# earliest fully-compatible version with updated architecture support
liger-kernel>=0.5.10

# add mamba requirements
mamba-ssm[causal-conv1d]>=2.2.5

