packaging>=20.9
wheel>=0.43
pyyaml
py-cpuinfo
# we set this to be above 0a0 so that it doesn't
# replace custom pytorch images with the 2.3.0
torch>=2.3.0a0
transformers>=4.41.2
datasets>=2.15.0
numba
# Note: numpy ranges copied from instructlab/instructlab
#
# HabanaLabs / Intel Gaudi env comes with Python 3.10 and slightly older
# versions of some dependencies. Use '3.10' as an indicator.
# Habana installer has NumPy 1.23.5
numpy>=1.23.5,<2.0.0 ; python_version == '3.10'
numpy>=1.26.4,<2.0.0 ; python_version != '3.10'
rich
instructlab-dolomite
trl>=0.9.4
peft
pydantic>=2.7.0

# deepspeed needs to be at the bottom or it'll break during installation
deepspeed>=0.14.3
aiofiles>=23.2.1
