packaging>=20.9
pyyaml
py-cpuinfo
# we set this to be above 0a0 so that it doesn't
# replace custom pytorch images with the 2.3.0
torch>=2.3.0a0
transformers>=4.41.2
datasets>=2.15.0
numba
numpy==1.26.4
rich
instructlab-dolomite
trl>=0.9.4
peft
pydantic>=2.7.0

# deepspeed needs to be at the bottom or it'll break during installation
deepspeed>=0.14.3
aiofiles>=23.2.1